@charset "UTF-8";

menu ul {
    display: none;
}


html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

article{
    display: block;
    margin: auto;
    width: 600px;
}

article::after{
    content: 'esse artigo foi impresso atraves do site www.curso em video.com ';
}