@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Permanent+Marker&family=Rock+Salt&family=Rubik+Puddles&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Rubik+Puddles&display=swap');

:root{
    --cor1: #130678;
    --cor2: #50B4F2;
    --cor3: #28E473;
    --cor4: #1EB776;
    --cor5: #DEC624;

    --font1: Poças de Rubik;
    --font2: Gaegu;
    --font3: Marcador Permanente;
    --font4: Sal-gema;
    --font5: Rubik Glitch Pop;
}


body{
    background: var(--cor2);
    color: white;
    font-size: 16px;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

header{
    display: flex;
    width: 90vw;
    position: fixed;
    top: 0;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo{
    font-family: var(--font5);
    font-size: 3em;
    font-weight: 900;
    text-shadow: 0 0 5px;
    color: var(--cor5);
}

header nav{
    display: flex;
    gap: 48px;
}

header nav a{
    cursor: pointer;
    position: relative;
    padding: 5px 0;

}

header nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor5);
    transition: width 0.2s ease;
}

header nav a:hover::after{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: var(--cor2);
}

.container::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.322));
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse{
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1.8);
    }
}

.circulos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circulo{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.027);
}

.circulo:nth-child(1){
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circulo:nth-child(2){
    width: 150px;
    height: 150px;
    top: 50%;
    left: 10%;
}

.circulo:nth-child(3){
    width: 300px;
    height: 300px;
    top: 70%;
    left: 60%;
}

.circulo:nth-child(4){
    width: 50px;
    height: 50px;
    top: 60%;
    left: 90%;
}

.circulo:nth-child(5){
    width: 300px;
    height: 300px;
    top: 3%;
    left: 90%;
}

.circulo:nth-child(6){
    width: 75px;
    height: 75px;
    top: 0%;
    left: 50%;
}

img{
    width: 45vw;
    height: 40vh;
}

.img{
    position: relative;
    top: 5%;
    left: 60%;
}

